@import "../utils/variables";
@import "../utils/fonts";

.product-pages,
.list-auction-products-pages,
.cart-pages,
.set-order-pages,
.payment-pages,
.history-transaction-pages,
.help-pages,
.authentication {
  margin: 50px 100px;

  // h1 {
  //   font-size: 24px;
  //   font-style: normal;
  //   font-weight: 600;
  //   line-height: normal;
  //   color: #161917;
  //   margin-bottom: 0;

  //   &.fw-700 {
  //     font-weight: 700;
  //   }
  // }

  // h2 {
  //   font-size: 24px;
  //   font-style: normal;
  //   font-weight: 600;
  //   line-height: normal;
  //   margin-bottom: 0;
  //   color: #638439;
  // }

  // h3 {
  //   font-size: 20px;
  //   font-style: normal;
  //   font-weight: 500;
  //   line-height: normal;
  //   margin-bottom: 0;
  //   color: $basic-black;

  //   &.fw-400 {
  //     font-weight: 400;
  //   }

  //   &.fw-700 {
  //     font-weight: 700;
  //   }

  //   &.green {
  //     color: #638439;
  //   }

  //   &.lato {
  //     font-family: $lato;
  //   }

  //   &.grey {
  //     color: #9f9f9f;
  //   }

  //   &.dark-green {
  //     color: #598420;
  //   }
  // }

  // p {
  //   font-size: 16px;
  //   font-style: normal;
  //   font-weight: 400;
  //   line-height: normal;
  //   color: black;
  //   margin-bottom: 0;

  //   &.grey {
  //     color: #737171;
  //   }

  //   &.grey-9f {
  //     color: #9f9f9f;
  //   }

  //   &.grey-80 {
  //     color: #808080;
  //   }

  //   &.fw-600,
  //   .fw-600 {
  //     font-weight: 600;
  //   }

  //   &.green {
  //     color: $basic-green;
  //   }

  //   &.black-20 {
  //     color: #202020;
  //   }

  //   &.sm {
  //     font-size: 12px;
  //   }
  // }

  h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #161917;
    margin-bottom: 0;

    &.fw-700 {
      font-weight: 700;
    }

    &.lg {
      font-size: 36px;
      color: #638439;
    }
  }

  h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
    color: #638439;
  }

  h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    color: $basic-black;

    &.fw-400 {
      font-weight: 400;
    }

    &.fw-700 {
      font-weight: 700;
    }

    &.fw-600 {
      font-weight: 600;
    }

    &.green {
      color: #638439;
    }

    &.lato {
      font-family: $lato;
    }

    &.grey {
      color: #9f9f9f;
    }

    &.dark-grey {
      color: #737171;
    }

    &.dark-green {
      color: #598420;
    }
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-bottom: 0;

    &.grey {
      color: #737171;
    }

    &.black-16 {
      color: #161917;
    }

    &.grey-9f {
      color: #9f9f9f;
    }

    &.grey-80 {
      color: #808080;
    }

    &.fw-600,
    .fw-600 {
      font-weight: 600;
    }

    &.green {
      color: $basic-green;
    }

    &.light-green {
      color: #a3d95d;
    }

    &.black-20 {
      color: #202020;
    }

    &.sm {
      font-size: 12px;
    }
  }

  .product-wrapper {
    display: flex;
    gap: 50px;
    align-items: start;
    margin-top: 50px;

    .product-detail {
      .top {
        display: flex;
        gap: 20px;
        align-items: center;

        .right {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .variant {
            gap: 20px;
            flex-wrap: wrap;
            display: flex;
            align-items: center;

            .item {
              cursor: pointer;
              border-radius: 8px;
              border: 1px solid #a3d95d;
              padding: 15px 10px;
              transition: 0.3s;

              &:hover,
              &.active {
                background-color: #a3d95d;
              }

              p {
                color: #598420;
              }
            }
          }
        }

        .left {
          .swiper {
            width: 278px;
            height: 278px;
            object-fit: cover;
            overflow: hidden;

            .swiper-pagination {
              transform: translateY(13px);
              background-color: white;
            }

            .swiper-pagination-bullet {
              border-radius: 4.417px;
              background-color: #d9d9d9;
              width: 5px;
              height: 5px;
              transition: 0.3s all;
              margin: 0 2px;
            }

            .swiper-pagination-bullet-active {
              width: 41.222px;
              background-color: #a3d95d;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .bottom {
        margin-top: 30px;

        p {
          line-height: 26px;
        }
      }

      .data-product {
        display: flex;
        align-items: center;
        gap: 44px;
      }
    }

    .buy-section {
      margin-top: 30px;

      @media (min-width: 1200px) {
        padding-left: 50px;
        margin-top: 0;
      }

      .wrapper {
        position: sticky;
        top: 130px;
        padding: 46px 31px;
        gap: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: 1px solid #808080;
        width: fit-content;
        // margin-left: 50px;

        .plus-minus {
          display: flex;
          align-items: center;
          gap: 12px;

          .left {
            display: flex;
            align-items: center;
          }
        }

        .total {
          gap: 20px;
          display: flex;
          align-items: flex-end;
        }

        .button-group {
          margin-top: 47px;
          display: flex;
          align-items: center;
          gap: 30px;
        }
      }
    }
  }

  .review {
    margin-top: 50px;

    .wrapper {
      gap: 15px;
      display: flex;
      flex-direction: column;

      .review-card {
        padding: 30px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        border: 1px solid #dddfe8;
        background: #fff;
        box-shadow: 0px 1px 42px 0px rgba(0, 0, 0, 0.08);

        h3 {
          font-family: $lato;
          margin-bottom: 3px;
        }

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .right {
            display: flex;
            gap: 8px;
            align-items: center;
          }

          .left {
            gap: 15px;
            display: flex;
            align-items: center;

            .detail {
              display: flex;
              gap: 63px;
              align-items: center;
            }
          }
        }

        .bottom {
          padding-left: 63px;

          .images-review {
            margin-top: 20px;
            display: flex;
            gap: 13px;
            align-items: center;

            .video-player {
              width: 64px;
              height: 64px;
              position: relative;
              border-radius: 5px;
              overflow: hidden;
              border: none;

              .play-button-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: rgba($color: lightgray, $alpha: 0.2);
                backdrop-filter: blur(1px);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 999;

                svg, img {
                  cursor: pointer;
                  width: 24px;
                  height: 24px;
                }
              }

              video {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            img,
            video {
              width: 64px;
              height: 64px;
              object-fit: cover;
            }
          }
        }

        .avatar {
          width: 48px;
          height: 48px;
          object-fit: cover;
        }
      }
    }
  }
}
